html,
body {
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
}

body > header {
  background-color: #121212;
  color: white;
  padding: 1rem;
  padding-left: 2em;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  z-index: 2;
}

body > header > h1 {
  margin-right: 1em;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.search {
  height: 100%;
  display: flex;
}

.search > input {
  margin-right: 1em;
  padding: 0.5em;
}

input[type="button"] {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  width: min-content;
  border: none;
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 0.25em;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="button"]:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.music-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 1rem;
}

.music-entry {
  list-style: none;
  margin: 1em;
  transform: scale(1);
  padding: 1em;

  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
    box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.music-entry:hover,
.music-entry.active {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.music-entry h1 {
  font-size: 1.3em;
}

.backdrop-container {
  margin: 0;
  padding: 0;
  display: grid;
}

.backdrop-container > * {
  grid-column: 1;
  grid-row: 1;
  text-align: end;
}

.image-backdrop {
  background-color: var(--average-color);
  max-height: 100px;

  display: flex;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.music-entry:hover .image-backdrop,
.music-entry.active .image-backdrop {
  width: 100px;
}

.music-entry article > p::first-letter {
  text-transform: uppercase;
}

.under-backdrop {
  width: 50%;
  justify-self: end;
  font-size: 0.9em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.under-backdrop > p {
  margin: 0;
  padding: 0;
}

.next-button {
  font-size: 1.5em;
  height: 100px;
  align-self: center;
  justify-self: center;
}
